<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <mappers>
   <mapper  resource="com/mapper/UserMapper.xml"/>
   <mapper  resource="com/mapper/loginUserMapper.xml"/>
   <mapper  resource="com/mapper/NewsMapper.xml"/>
   <mapper  resource="com/mapper/ReviewMapper.xml"/>
   <mapper  resource="com/mapper/boardMessageMapper.xml"/>
   <mapper  resource="com/mapper/friendLinkMapper.xml"/>
   <mapper  resource="com/mapper/PurchaseMapper.xml"/>
   <mapper  resource="com/mapper/DepositMapper.xml"/>
   <mapper  resource="com/mapper/shopItemMapper.xml"/>
   </mappers>

</configuration>
